[submodule "contrib/physfs-stream"]
	path = contrib/physfs-stream
	url = https://github.com/hakase-labs/physfs-stream.git
[submodule "contrib/squirrel3"]
	path = contrib/squirrel3
	url = https://github.com/hakase-labs/squirrel3.git
[submodule "contrib/sfml"]
	path = contrib/sfml
	url = https://github.com/hakase-labs/sfml.git
[submodule "contrib/sqrat"]
	path = contrib/sqrat
	url = https://github.com/hakase-labs/sqrat
[submodule "contrib/physfs"]
	path = contrib/physfs
	url = https://github.com/hakase-labs/physfs
[submodule "contrib/jsoncpp"]
	path = contrib/jsoncpp
	url = https://github.com/hakase-labs/jsoncpp
